[submodule "diff"]
	path = diff
	url = https://github.com/joshnewans/diffdrive_arduino.git
[submodule "diffdrive_arduino"]
	path = diffdrive_arduino
	url = https://github.com/joshnewans/diffdrive_arduino.git
