<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
 
    <!-- THIS PLUGIN IS OUR HARDWARE INTERFACE FOR THE CONTROLLER MANAGER -->

    <ros2_control name="RealRobot" type="system">
        <hardware>
            <plugin>diffdrive_arduino/DiffDriveArduinoHardware</plugin>
            <param name="left_wheel_name">left_wheel_joint</param>
            <param name="right_wheel_name">right_wheel_joint</param>
            <param name="door_servo_name">door_joint</param>
            <param name="ramp_servo_name">ramp_joint</param>
            <param name="loop_rate">30</param>
            <param name="device">/dev/ttyACM0</param>
            <param name="baud_rate">57600</param>
            <param name="timeout_ms">1000</param>
            <param name="enc_counts_per_rev">3436</param>
            <param name="pid_p">20</param>
            <param name="pid_d">12</param>
            <param name="pid_i">0</param>
            <param name="pid_o">50</param>
        </hardware>
        <joint name="left_wheel_joint">
            <command_interface name="velocity">
                <param name="min">-20</param>
                <param name="max">20</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        <joint name="right_wheel_joint">
            <command_interface name="velocity">
                <param name="min">-20</param>
                <param name="max">20</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        <joint name="door_joint">
            <command_interface name="velocity">
                <param name="min">-5</param>
                <param name="max">5</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        <joint name="ramp_joint">
            <command_interface name="velocity">
                <param name="min">-5</param>
                <param name="max">5</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
    </ros2_control>

</robot> 
